@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}











* {
  box-sizing: border-box;
}
.title{
  font-size:60px;
  padding:20px 0px;
}
body {
  font-family: 'Lato', sans-serif;
  background-color:#eaeaea;
}
.container{
  width:900px;
  margin:0px auto;
}
/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  
 .container{
  width: 100%;
}
  
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius:10px;
  cursor:pointer;
}
.card .profile{
   border-radius:10px;
   transition: 0.2s;
}
.card:hover .profile{
  transform:scale(1.4);
  border-top-right-radius:50px;
  border-top-left-radius:50px;
}

.card .content{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}
.card .content .back{
  position:absolute;
  width:100%;
  height:100%;
  background-color: #f1f1f1e6;
  transition:1s;
  
  z-index:1;
  padding:10px;
}

.from-left{
  top:0;
  left:-100%;
}
.card:hover .content .from-left {
   left:0%;
}

.from-bottom{
  top:100%;
  left:0;
}
.card:hover .content .from-bottom {
   top:0%;
}

.from-right{
  top:0%;
  right:-100%;
}
.card:hover .content .from-right {
   right:0;
}

.card .content .back h3{
  font-size:15px;
  letter-spacing:2px;
}
.card .content .back .tem-img{
  border-radius:100%;
}

.card .content .back .des{
  font-size:13px;
  padding:20px 0px;
}
.card .content .back .social-icon{
  list-style:none;
  margin:0px;
  padding:0px;
}
.card .content .back .social-icon li{
  display:inline-block;
}

.card .content .back .social-icon li a{
  display:block;
  background:#333;
  color:#fff;
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  border-radius:100%;
}





footer{
  color: #000000;
  background-color: white;
  position: relative;
  width: 100%;
  height: 20px;
  /* top:350px; */
  border-top-left-radius: 70px;
  font-size: 0.8rem;
}



@media (max-width:960px) {
  footer{
    width: 100%;
    top: 120px;
  }
  
  .main{
  margin: 50px;
 display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}
  
  .logo{
    grid-column: 1/3;
  }
  
  .office{
    grid-column: 3/5;
  }
  .link{
    grid-column: 1/3;
  }
  
	
}





@media (max-width:660px){
  .main{
    gap:10px;
    margin: 0;

  }
  
  .icons{
    display: flex;
  }
  
 
  
  .row{
    grid-column: 1/4;
  }
}






.icons {
  margin-top: 20px;
  display: flex;
  /* column-gap: 25px; */
  
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2{
    font-size: 20px;
  }
  .container__about p{
    font-size: 12px;
  }
  .container__recentpages h2{
    font-size: 20px;
  }
  .container-pages ul a{
    font-size: 12px;
  }
  footer .by p{
    font-size: 12px;
  }
}


.manik{
  width: 250px;
}
.main{
  margin: 50px;
  padding-top: 20px;
  /* padding-bottom: 50px; */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr );
}
.row{
 margin-top: 50px;
}
.footer-header{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.office-des{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.office a{
  text-decoration: none;
  color: #000106;
  
}
.office a:hover{
  color: #000000;
}
.num{
  font-size: 1rem;
  font-weight: 500;
}

.link-des{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.link-des a{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover{
  color: #FB2576;
  transition: linear 0.3s;
}

.btn-know{
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  position: relative;
  top: 30px;
  background-color: transparent;
  border: 1px solid #98A8F8;
  color: #98A8F8;
  text-transform: uppercase;
  border-radius:10px;
  
}


.btn-know:hover{
  color: rgb(0, 0, 0); 
  background-color: #000000;
  transition: linear 0.3s;
}
.subcribe{
  display: flex;
}
input[type=mail]{
  border: none;
  /* padding-bottom: 5px; */
  border-bottom: 1px solid #000000;
  background-color: transparent;
  font-size: 0.8rem;
}
.sub-icon{
  margin: 7px;
  margin-right: 15px;
  margin-left: 0;
  font-size: 1.5rem;
}
.ri-arrow-right-line{
  margin-left: 0;
  
}

.icons a{
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  font-size: 1.1rem;
  margin: 2%;
}




.newsletter-des{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copyright{
  text-align: center;
}

hr{
  width: 90%;
  margin: 2px auto;
  opacity: 40%;
  border: 0.01px solid white;
  
}






body {
	margin: 0;
	padding: 0;
}
.carousel{
    height: 600px; 
    perspective: 250px;    
    
}
.carousel .carousel-item {
	width: 450px;
	background: #fff;
	padding: 50px;
	height: auto;
	text-align: center;
    border-radius: 15px;
}
.img-area {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: inset 8px deepskyblue;
}
        .img-area img{
            width: 100%;
        }
        .testi p {
	color: #262626;
	font-size: 18px;
	line-height: 1.9;
}
        .testi h4 {
	font-size: 20px;
	margin: 0;
	color: #000;
}
        .testi h5 {
	font-size: 14px;
	letter-spacing: 5px;
	margin: 7px 0;
}

.carousel{
  background-color: black;
}








